---
import PostCard from "./PostCard.astro";

const { posts } = Astro.props
---

<div class="cards">
    {
        posts.map((post: any) => (
            <PostCard post={post}/>
        ))
    }
</div>

<style>
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:flex-start
        align-items: center;
        align-content: stretch;
        gap: 30px;
    }

</style>
